#paper {
    background-image: url("/static/pad.jpg");
    background-repeat: repeat-y;
    margin: auto;
    width: 50%;
    border: 3px solid #3B0B0B;
    padding-bottom: 600px;
    font-family: "Lucida Handwriting", cursive;
    font-size: 1.875em;
}

#layout {
    margin: auto;
    width: 25%;
}

#fontselect {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

#input-font {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #78756E;
  opacity: 1; /* Firefox */
}

#passform {
    padding-top: 50px;
}

#passtitle {
    padding-top: 150px !important;
    padding-bottom: 0px !important;
}


h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: monospace
}

h4 {
    padding-top: 75px;
    font-family: monospace;
}

body {
    background-color: #8E8268;
}

.dropdown-menu {
    background-color: #AAA0A0
}

.nav-item a:hover, .btn:hover, #downloadbtn:hover, #delete:hover{
    background-color: #86B3D1;
}


.btn {
    display: block;
    margin: auto;
    background-color: #474853;
    color: white;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.new-entry-btn {
    width: 100px;
    background-color: #AAA0A0 ;
    border: none;
    float: left;
}

.inline {
   display:inline-block;
   margin-right:5px;
}

#downloadbtn {
    width: 75% !important;
    background-color: #474853;

}

#delete {
    width: 100%;
    background-color: #474853;
}

.table {
    width: 100%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

#firstcol {
    width: 15%;
}

#middlecol {
    width: 50%;
}

#rightcol {
    width: 15%;
}

#finalcol {
    width: 20%;
}

.field {
    width: 100%;
    border: none;
    padding-top: 40px;
    background-color: transparent;
    resize: none;
}

.field:focus {
    outline: none;
}

.table {
    align-content:  center;
    text-align: center;
}

.alert {
    text-align: center;
}

.alert-error {
  background-color: #EB617C;
  border: black;
  color: #95001E;
}

/* Textbox autoresize */
.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
    padding: 0.5rem;
    font: inherit;
    grid-area: 1/ 1/ 2/ 2;
}

/* Text animation */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 10ch;
  animation: typing 1.2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}