{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
        <h1 class="display-4 center">About</h1>
        <p class="center about">Hello and welcome to My Journal!<br><br>
        My name is John and I am from Adelaide, Australia. I built this application in 2021 as part of my final project for CS50.
        My goal was to provide a pure experience as close as possible to simply writing on paper.<br><br>
        The advantages that My Journal has over a standard word processor are that your filenames and storage are handled automatically;
        your account is password protected and your entries are not stored on your local machine (useful for privacy if your
        computer is shared); and the application provides a clean snapshot of all your entries at once through your dashboard.
        At any point you are free to download to disk all of your entries and delete your account.
        <br>
        <br>
        As I develop my skills, I may return to this project to add the ability to choose a colour theme.
        <br><br>
        Thank you for taking the time to check out My Journal!
        </p>
{% endblock %}