{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
        <h1 class="display-4 center">About</h1>
        <p class="center about">Hello and welcome to my page!<br><br>
        My name is John and I am from Adelaide, Australia. I built this website in 2021 as part of my final project for CS50. My goal was to
        create a simple journal application that provides users with a streamlined approach to creating and managing
        a journal. The application offers users a pure experience, similiar to simply writing on paper. Immediately upon reaching
        the homepage, the user can begin writing without being concerned about
        login or registration details. Only after submitting an entry will the user be prompted to login or register, after which their
        entry will be added to their account. Saving or setting a title for
        each entry is also handled automatically. At any point a user is free to download to disk all of their entries and delete
        their account if they choose.
        <br>
        <br>
        Overall, I learned a lot about HTML, CSS, JavaScript, SQL and Flask. I will continue on with Harvard's Web Programming course
        and in the future, as I develop my skills, I may return to this project to add the ability to choose a colour theme.
        <br><br>
        Thankyou for taking the time to check out my website.
        </p>
{% endblock %}