{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<h1 class="display-3 center">
  <div class="wrapper">
    <div class="typing-demo">
      My Journal
    </div>
  </div>
</h1>
  <table class="table">
    <thead>
        <th scope="col" id="firstcol">Title</th>
        <th scope="col" id="middlecol">Entry</th>
        <th scope="col" id="rightcol">Last Updated</th>
        <th scope="col" id="finalcol"></th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <a class="btn btn-primary new-entry-btn inline" id="newentrybtn" href="/" role="button">New Entry</a>
        </td>
      </tr>
      {% for row in entries %}
      <tr>
        <td class="italic">{{ row["title"] }}</td>
        <td>{{ row["entry"] }}</td>
        <td>{{ row["time"] }}</td>
        <td>
          <form action="/view" method="post">
          <button class="btn btn-primary new-entry-btn inline" name="edit" type="submit" value={{ row["id"] }}>View</button>
          <button class="btn btn-primary new-entry-btn inline" name="delete" type="submit" value={{ row["id"] }}>Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
      <a class="btn btn-primary new-entry-btn" id="downloadbtn" href="/download" name="download" role="button">Download Entries</a>
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock %}