{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
<h1 class="display-3 center">
  <div class="wrapper">
    <div class="typing-demo">
      My Journal
    </div>
  </div>
</h1>
  <table class="table">
    <thead>
        <th scope="col" id="firstcol">Title</th>
        <th scope="col" id="middlecol">Entry</th>
        <th scope="col" id="rightcol">Last Updated</th>
        <th scope="col" id="finalcol"></th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <a class="btn btn-primary new-entry-btn inline btnalt" href="/" role="button">New Entry</a>
        </td>
      </tr>
      <form action="/view" method="post">
      {% for row in entries %}
      <tr id={{ row["id"] }}>
        <td class="italic">{{ row["title"] }}</td>
        <td>{{ row["entry"] }}</td>
        <td>{{ row["time"] }}</td>
        <td>
          <button class="btn btn-primary new-entry-btn inline btnalt" name="edit" type="submit" value={{ row["id"] }}>View</button>
          <input name="delete" class="form-check-input" id="flexCheckDefault" type="checkbox" value={{ row["id"] }} onchange="check();">
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <input class="btn btn-primary new-entry-btn downloadbtn" id="deletecheck" disabled type="submit" value="Delete Selected">
        </td>
        </form>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a class="btn btn-primary new-entry-btn downloadbtn" href="/download" name="download" role="button">Download Entries</a>
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock %}