{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <h1 class="display-6 center">Delete My Account</h1>
    <div class="container-fluid" id="layout">
        <p>Deleting your account will also permanently delete all of your entries. If you would still like to delete your account,
        you may choose to download your entries first.<br><br>
        Are you sure you want to delete your account?</p>
        <a class="btn btn-primary new-entry-btn" id="delete" href="/dashboard" name="download" role="button">Cancel</a>
        <br><br>
        <a class="btn btn-primary new-entry-btn" id="delete" href="/download" name="download" role="button">Download My Entries</a>
        <br><br>
        <form action="/delete" method="post">
        <button class="btn btn-primary new-entry-btn" type="submit" id="delete" href="/delete" name="download" role="button">Delete My Account</button>
        </form>
    </div>
{% endblock %}