{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
      <div class="container-fluid" id="paper">
        <form action="/edit" method="post">
          {% for row in entry %}
          <span type="text">
            <textarea class="field bold italic center" name="title" maxlength="25" autocomplete="off">{{ row['title']}}</textarea>
          </span>
          <div class="grow-wrap">
            <textarea class="field" onInput="this.parentNode.dataset.replicatedValue = this.value" name="entry" autocomplete="off" autofocus>{{ row['entry']}}</textarea>
          </div>
          <br><br>
          <div class="row justify-content-md-center">
             <div class="col-md-auto">
            <button class="btn btn-dark inline" name="update" type="submit" value="{{ viewid }}">Update</button>
            <button class="btn btn-dark inline" name="delete" type="submit" value="{{ viewid }}" >Delete</button>
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
{% endblock %}