{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
      <div class="container-fluid" id="paper" style="background-image: {{ image }};">
        <form action="/edit" method="post">
          {% for row in entry %}
          <span type="text">
            <textarea class="field bold italic center" name="title" maxlength="25" autocomplete="off">{{ row['title']}}</textarea>
          </span>
          <div class="grow-wrap">
            <textarea class="field" onInput="this.parentNode.dataset.replicatedValue = this.value" name="entry" autocomplete="off" autofocus>{{ row['entry']}}</textarea>
          </div>
          <br><br>
          <div class="row justify-content-md-center">
             <div class="col-md-auto">
            <button class="btn btn-dark inline" name="update" type="submit" value="{{ viewid }}">Update</button>
            <button class="btn btn-dark inline" name="delete" type="submit" value="{{ viewid }}" >Delete</button>
            </div>
          </div>
          {% endfor %}
        </form>
      </div>
      <form action="/pad" method="post">
        <div id="padselect"><i>Pad: </i>
          <select name="pad" class="input selector" id="padselect2" href="#" onchange="this.form.submit(); changePad(this);">
            {% for image in paper %}
            <option value="url('/static/{{ image }}.jpg')">{{ image }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      <div id="fontselect"><i>Font: </i>
        <select class="input selector" href="#" onchange="changeFont (this);">
              <option value="Arial, sans-serif">Arial</option>
              <option value="'Brush Script MT', cursive">Brush Script</option>
              <option value="'Courier New', monospace">Courier New</option>
              <option value="Georgia, serif">Georgia</option>
              <option value="Lucida Handwriting, cursive" selected ="selected">Lucida Handwriting</option>
              <option value="Times New Roman">Times New Roman</option>
        </select>
      </div>
{% endblock %}