{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
      <div class="container-fluid" id="paper" style="background-image: {{ image }}; font-family: {{ font }};">
        <form action="/entry" method="post" onsubmit="disableBtn()">
          <span type="text">
            <textarea class="field bold italic center" name="title" autocomplete="off" maxlength="25" placeholder="Untitled"></textarea>
          </span>
          <div class="grow-wrap">
            <textarea class="field" name="entry" onInput="this.parentNode.dataset.replicatedValue = this.value" autocomplete="off" placeholder="Dear Diary..." autofocus></textarea>
          </div>
          <br><br><button class="btn btn-dark" type="submit" onclick="this.form.submit(); this.disabled = true;">Add Entry</button>
          <input type="hidden" id="fontSelector" name="fontSelector" />
          <input type="hidden" id="padSelector" name="padSelector" />
        </form>
      </div>
      <div id="padselect"><i>Pad: </i>
        <select name="pad" class="input selector" id="padCheck" href="#" onchange="changePad(this);">
          {% for image in paper %}
          <option value="url('/static/{{ image }}.jpg')">{{ image }}</option>
          {% endfor %}
        </select>
      </div>
      <div id="fontselect"><i>Font: </i>
        <select class="input selector" id="fontCheck" href="#" onchange="changeFont(this);">
          {% for font in fonts %}
          {% set displayFont = font.split(',') %}
            {% if font == "Lucida Handwriting, cursive" %}
            <option value="{{ font }}" selected='selected'>{{ displayFont[0] }}</option>
            {% else %}
            <option value="{{ font }}">{{ displayFont[0] }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
{% endblock %}